@model DanFestaJuninaCore.ViewModels.HomeDetailsViewModel

<h1>Details.cshtlm from Views/Home folder</h1>
<h3>@Model.PageTitle</h3>
    
<div>Name: @Model.EmployeeVM.Name</div>
<div>Email: @Model.EmployeeVM.Email</div>
<div>Department: @Model.EmployeeVM.Department</div>

